<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yibh.mytest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".app.MApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".customview.CustomActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyViewActivity"/>
        <activity android:name=".refreshview.RefreshActivity"/>
        <activity android:name=".activity.ServiceActivity"/>
        <activity android:name=".activity.SortActivity"/>
        <activity android:name=".activity.BannerActivity"/>
        <activity android:name=".activity.BannerActivity1"/>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".greendaotest.GreenDaoActivity">
        </activity>
        <activity android:name=".activity.CDTestActivity">
        </activity>
        <activity android:name=".videoplayertest.VideoPlayerActivity">
        </activity>
        <activity android:name=".videoplayertest.VideoPlayerActivity2">
        </activity>
        <activity android:name=".videoplayertest.VideoPlayerActivity1">
        </activity>
    </application>

</manifest>